[package]
name = "tetnus-coral-driver"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
thiserror.workspace = true

[features]
# Enable this feature when libedgetpu.so is available
coral-hardware = []
